# Day-01  基本操作

In [13]:
getwd()  # 获取当前路径

[1] "D:/ML_EXP/juypter/r-learn"

In [15]:
dir()    #获取当前文件夹内的文件

[1] "r-learn-01.ipynb"

In [16]:
   x <- 5   # 在R语言中的赋值操作是  <- ，也可以使用等号，但不建议，因为会有其它部分使用；Alt + -可以快速打出赋值符号

In [19]:
x = 6;x   # 这里使用等号，R语言也可以使用分号分隔语句

[1] 6

In [24]:
ls() #查看定义的变量

[1] "x"

In [25]:
str(x)  #查看变量信息

 num 6

In [26]:
typeof(x) #查看变量类型

[1] "double"

In [27]:
rm(x) #移除变量

In [31]:
help(package = "ggplot2") # 查看包的帮助

In [33]:
library(package = 'ggplot2')

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

*  1. install.packages('lib name') 安装包  *
*  2. require（‘lib name’）导入包   *
*  3. data（package='lib name'）查看包的数据集 *
*  4. ls（package=‘lib name’）查看包提供的函数 *
*  5. help（package = ‘lib name’）查看包的帮助 或者使用 ?函数名也可以 *
*  6. example(funtion) 查看函数的使用例子 *
*  7. demo(function) 查看函数的demo8 *

In [42]:
example(mean)

mean> x <- c(0:10, 50)

mean> xm <- mean(x)

mean> c(xm, mean(x, trim = 0.10))
[1] 8.75 5.50

In [43]:
demo(mean)

ERROR: Error in demo(mean): No demo found for topic 'mean'

In [44]:
rivers

  [1]  735  320  325  392  524  450 1459  135  465  600  330  336  280  315  870
 [16]  906  202  329  290 1000  600  505 1450  840 1243  890  350  407  286  280
 [31]  525  720  390  250  327  230  265  850  210  630  260  230  360  730  600
 [46]  306  390  420  291  710  340  217  281  352  259  250  470  680  570  350
 [61]  300  560  900  625  332 2348 1171 3710 2315 2533  780  280  410  460  260
 [76]  255  431  350  760  618  338  981 1306  500  696  605  250  411 1054  735
 [91]  233  435  490  310  460  383  375 1270  545  445 1885  380  300  380  377
[106]  425  276  210  800  420  350  360  538 1100 1205  314  237  610  360  540
[121] 1038  424  310  300  444  301  268  620  215  652  900  525  246  360  529
[136]  500  720  270  430  671 1770

## 向量操作
1. 生成
  1. c()
  2. seq(from=,to=,by=step)
   3. list()
2. 操作
    1. length()
    2. v[index]:index必须正整数，从1开始，当其为负数的时候，意味排除某项(相当于删除)；index可以为一个vector，也可以为一个数字
    3. rep(x,num) 复制元素
    4. 同样支持布尔索引
    5. %in% 包含操作

In [83]:
y  <-  c("one"=1,"two"=2)  # 字典类型

In [82]:
names(y)

[1] "one" "two"

In [71]:
names(y)  <-  c('one','two')

In [72]:
y

  one   two
"one" "two"

In [73]:
# dimnames（matrix）  为矩阵行列设置名称，默认名称是数字

In [100]:
mat = matrix(1:32,4,8,byrow = T);mat # byrow = T 按照行进行转化

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,]  1    2    3    4    5    6    7    8
[2,]  9   10   11   12   13   14   15   16
[3,] 17   18   19   20   21   22   23   24
[4,] 25   26   27   28   29   30   31   32

In [101]:
cnames=c('a','b','c','d','e','f','g','h');rnames=c('one','two','three','four');

In [102]:
dimnames(x = mat) = list(rnames,cnames)

In [103]:
mat

      a  b  c  d  e  f  g  h
one    1  2  3  4  5  6  7  8
two    9 10 11 12 13 14 15 16
three 17 18 19 20 21 22 23 24
four  25 26 27 28 29 30 31 32

## 列表与向量的区别
列表元素类型可以不同，向量的元素必须相同

In [106]:
mat[,2]  # 跟python一样

  one   two three  four
    2    10    18    26

In [111]:
fr = data.frame(mat)

In [112]:
fr$a  # R语言除了使用索引也可以使用美元符号获取数据,

[1]  1  9 17 25

In [113]:
lizt

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

[[5]]
[1] 5

## 理解因子
其实因子可以看成一种非连续性变量，数字型和名称型，比如：周一，周二，周三就是一张因子，其level就是周一到周日，我们可以认为定义因子的顺序，比如周一最小，周日最大
level:就是可以选择的值

In [121]:
week = factor(c('Mon','Thu','Wed','Thur','Fri','Sat','Sun','Mon','Mon'),levels=c('Mon','Thu','Wed','Thur','Fri','Sat','Sun'))

In [126]:
week

[1] Mon  Thu  Wed  Thur Fri  Sat  Sun  Mon  Mon
Levels: Mon < Thu < Wed < Thur < Fri < Sat < Sun

In [125]:
week = factor(c('Mon','Thu','Wed','Thur','Fri','Sat','Sun','Mon','Mon'),levels=c('Mon','Thu','Wed','Thur','Fri','Sat','Sun'),ordered=T)

1. 除法 /
2. 求余 %%
3. 整除 %/%

## 字符串

In [141]:
str = paste("hello",'R')   # 拼接字符串

### 总结与思考：
1. R语言是面向过程的，大部分通过函数进行操作
2. 大部分编程语言的方法，R都有，必要时可进行搜索引擎搜索

### R 语言有很方便的时间函数以及时间序列生成函数
ts函数
Date函数

## 导入数据
1. 文件
2. 定义
3. 数据库
4. 粘贴板
5. WEB爬虫

In [ ]:
edit(dataframe) #由于Jypter不支持，在Rstdio中可以GUI进行编辑